.title {
  font-size: 48px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(79, 81, 237);
  height: 600px;
  width: 600px;
  margin: 30px;
  padding: 4px;
  gap: 4px;
  border-radius: 8px;
}

.cardDetail {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(79, 81, 237);
  height: 100%;
  padding: 4px;
  gap: 4px;
  border-radius: 8px;
}

.section {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  padding: 4px;
  gap: 4px;
  border-radius: 8px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
  padding: 4px;
  border-radius: 6px;
  background-color: white;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 4px;
  border-radius: 6px;
  background-color: white;
}

.title {
  font-weight: 500;
  font-size: 12px;
  flex: 0.05;
}

.btnBack,
.btnModify,
.btnDelete {
  width: 70px;
  height: 40px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 550;
  background-color: var(--creamBlue);
  box-shadow: 1px 1px 1px rgba(23, 23, 23, 0.557);
  cursor: pointer;
  color: rgb(236, 236, 236);
  transition: 0.075s;
}

.btnBack:hover,
.btnDelete:hover,
.btnModify:hover {
  background-color: var(--lighterBlue);
  box-shadow: none;
  transform: translatey(1px) translateX(1px);
  animation: ani9 0.2s ease-in-out infinite alternate;
}

.btnDelete {
  margin-left: calc(80%);
}

@media (width: 1100px) {
}
