@import "../../helpers/variables.css";

.formWrapper {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: calc(100vh - 102px);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* box-sizing: content-box; */
  /* margin: auto auto; */
  padding: 20px 20px 10px 20px;
  min-height: 220px;
  width: 400px;
  min-width: 210px;
  background-color: var(--creamRed);
  border-radius: 4px;
  box-shadow: 2px 2px 2px;
}

.formFieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formFieldText {
  width: 100%;
  color: white;
  margin: 8px 0 8px 0;
  font-size: 18px;
  text-align: start;
}

.formFieldInput {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 4px;
  line-height: 30px;
  border: 1px solid gray;
}

.formButton {
  align-self: center;
  justify-self: flex-end;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: 550;
  background-color: var(--creamBlue);
  box-shadow: 1px 1px 1px rgba(23, 23, 23, 0.557);
  cursor:pointer;
  color: rgb(236, 236, 236);
  transition: 0.075s;
}

.formButton:hover {
  background-color: var(--lighterBlue);
  color:rgba(23, 23, 23, 0.861)
}

.warning {
  border: solid red 1px;
  border-radius: 0.2em;
}

.danger {
  width: 100%;
  font-size: 15px;
  color: red;
}
