@import "../../helpers/variables.css";

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 102px);
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 300px;
  width: 600px;
  height: 600px;
  height: auto;
  min-height: 220px;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  background-color: var(--creamRed);
  border-radius: 4px;
  box-shadow: 2px 2px 2px;
}

.container > h1 {
  color: rgb(236, 236, 236);
  margin-bottom: 0px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  height: auto;
  width: 100%;
  gap: 30px 0px;
}

.contentOdd {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.formFieldText {
  width: 100%;
  color: white;
  margin: 8px 0 8px 0;
  font-size: 18px;
  text-align: start;
}

.formFieldInput {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 4px;
  line-height: 30px;
  border: 1px solid gray;
}

.formButton {
  width: 140px;
  height: 50px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 550;
  background-color: var(--creamBlue);
  box-shadow: 1px 1px 1px rgba(23, 23, 23, 0.557);
  cursor: pointer;
  color: rgb(236, 236, 236);
  transition: 0.075s;
}

.formButton:hover {
  background-color: var(--lighterBlue);
  color: rgba(23, 23, 23, 0.861);
}

.warning {
  border: solid red 1px;
  border-radius: 0.2em;
}

.danger {
  width: 100%;
  font-size: 15px;
  color: red;
}

@media (max-width: 550px) {
  .wrapper {
    height: auto;
  }
  .container {
    height: 100%;
  }
  .content {
    flex-direction: column;
    flex-wrap: no-wrap;
  }
  .field {
    width: 90%;
  }
  .formButton {
    margin-top: 10px;
    width: 80%;
  }
}
