@import "../../helpers/variables.css";
/* @font-face {font-family: "Pokemon"; src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); } */

.NavBar {
  font-family: 'Poppins';
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100px;
  background-color: var(--creamBlue);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.navActive{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--darkerBlue);
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.navInactive{
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

.header-logo > h1 {
  font-size: 32px ;
}



@media (max-width: 940px) {
  .NavBar{
    justify-content: space-between;
  }
  .navActive {
    display: none;
  }
  .navInactive{
    display: none;
  }
}