:root {
  --borderRadius: 4px;
  --lighterRed: #dc8888;
  --creamRed: #E64848;
  --pastelpink: #ffc6dc;
  --yellow: #ffcc03;
  --creamBlue: #1668ba;
  --lighterBlue: #4a96e1;
  --darkblue: #0c1b3a;

  --bug: #C6D16E;
  --bugBg: #A8B820;
  --poison: #C183C1;
  --poisonBg: #A040A0;
  --grass: #A7DB8D;
  --grassBg: #78C850;
  --fire: #F5AC78;
  --fireBg: #F08030;
  --water: #9DB7F5;
  --waterBg: #6890F0;
  --electric: #FAE078;
  --electricBg: #F8D030;
  --rock: #D1C17D;
  --rockBg: #B8A038;
  --ground: #EBD69D;
  --groundBg: #E0C068;
  --normal: #C6C6A7;
  --normalBg: #A8A878;
  --fighting: #D67873;
  --fightingBg: #C03028;
  --psychic: #FA92B2;
  --psychicBg: #F85888;
  --ghost: #A292BC;
  --ghostBg: #705898;
  --dark: #A29288;
  --darkBg: #705848;
  --fairy: #F4BDC9;
  --fairyBg: #EE99AC;
  --dragon: #A27DFA;
  --dragonBg: #7038F8;
  --ice: #BCE6E6;
  --iceBg: #98D8D8;
  --steel: #D1D1E0;
  --steelBg: #B8B8D0;
  --flying: #C6B7F5;
  --flyingBg: #A890F0;

  --hp: #FF0000;
  --hpBorder: 1px solid #A60000;
  --hpBackground: #FF5959;
  --attack: #F08030;
  --attackBorder: 1px solid #9C531F;
  --attackBackground: #F5AC78;
  --defense:#F8D030;
  --defenseBorder: 1px solid #A1871F;
  --defenseBackground: #FAE078;
  --special_attack: #6890F0;
  --special_attackBorder: 1px solid #445E9C;
  --special_attackBackground: #9DB7F5;
  --special_defense: #78C850;
  --special_defenseBorder: 1px solid #4E8234;
  --special_defenseBackground: #A7DB8D;
  --speed: #F85888;
  --speedBorder: 1px solid #A13959;
  --speedBackground: #FA92B2;

  --minimumWidth: 200px;

}
