:root {
  --borderRadius: 4px;
  --lighterRed: #dc8888;
  --creamRed: #E64848;
  --pastelpink: #ffc6dc;
  --yellow: #f7ff00;
  --creamBlue: #1668ba;
  --lighterBlue: #88b4df;
  --darkblue: #0c1b3a;
}
