.homeContainer {
  margin: 0px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 769px;
}

.cardContainer {
  display: grid;
  width: 80vw;
  font-size: 18px;
  margin: auto auto;
  grid-template-columns: repeat(auto-fill, minmax(Min(190px), 1fr));
  gap: 10px;
  padding: 10px;
  margin: 10px;
  min-height: 600px;

}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 80vw;
  margin: auto;
  border-radius: 10px;
  font-size: 18px;
  min-width: var(--minimumWidth);
}

/* CREO QUE LO QUE SIGUE ERA EL CART DE LA APP ANTERIOR
Y PUEDE SERVIR PARA LOS MEDIA QUERYS DE 400px APROX */

.cart {
  position: fixed;
  top: 60px;
  right: 0;
  height: 94vh;
  width: 440px;
  border: 1px solid black;
  border-radius: 6px 0 0 0;
  overflow-y: scroll;
  z-index: 998;
  animation: slideIn 0.25s ease-in;
}

.cart-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  min-width: 187px;
  border-bottom: 1px solid grey;
  font-size: 14px;
  font-weight: 500;
}


@media (max-width: 500px) {
  .cardContainer{
  /* grid-template-columns: repeat(auto-fill, minmax(Min(150px), 1fr)); */

    grid-template-columns: 1fr;
  }
}