.homeContainer{
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 80vw;
  min-height: 150px;
  margin: auto;
  border-radius: 10px;
  font-size: 18px;
  min-width: var(--minimumWidth);
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 80vw;
  margin: auto;
  border-radius: 10px;
  font-size: 18px;
  min-width: var(--minimumWidth);
}


/* CREO QUE LO QUE SIGUE ERA EL CART DE LA APP ANTERIOR
Y PUEDE SERVIR PARA LOS MEDIA QUERYS DE 400px APROX */



.cart {
  position: fixed;
  top: 60px;
  right: 0;
  height: 94vh;
  width: 440px;
  border: 1px solid black;
  border-radius: 6px 0 0 0;
  overflow-y: scroll;
  z-index: 998;
  animation: slideIn 0.25s ease-in;
}

.cart-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  min-width: 187px;
  border-bottom: 1px solid grey;
  font-size: 14px;
  font-weight: 500;
}