.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100vw;
  height: 100px;
  background-color: #E64848;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.navActive{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  color:white;
  border-radius: 10px;
  background-color: #c53030;
  font-size: 18px;
  font-weight: 500;
}

.navInactive{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  color:white;
  font-size: 18px;
  font-weight: 500;
}

.header-logo > h1 {
  font-size: 32px ;
}

.header-logo {
  width:10vw;
  display:flex;
  justify-content: center;
}

.header-logo > img {
  /* margin: auto 0; */
  height: 40px;
  width: 40px;
}


@media (max-width: 1100px) {
  .navActive {
    display: none;
  }
  .navInactive{
    display: none;
  }
}